parameters:
	level: 5
	paths:
		- .
	excludePaths:
		analyse:
			- vendor/*
			- scripts/*
		analyseAndScan:
			- vendor/*
			- scripts/*
	treatPhpDocTypesAsCertain: false
	scanFiles:
		- wp-stubs.php
		- vendor/wordpress/php-ai-client/src/polyfills.php
